@namespace Zero.Abp.AntBlazor.Layout
@inherits AntComponentBase

@if (isLoaded)
{
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
}
else
{
    <p>Loading...</p>
}
<link rel="stylesheet" href="@_themeUrl" @ref="_themeRef">

@code {

    [Parameter] public bool DisableMobile { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}