@namespace Zero.Abp.AntBlazor.Layout
@inherits AntLayoutComponentBase

<div class="@ClassNames(Class,BaseClassName)"
     style="@StyleValues(Width,Style)">
    @*@if (RenderContent != null) { @RenderContent((null, width)); }*@
    <div class=@($"{BaseClassName}-left")>@Extra</div>
    <div class=@($"{BaseClassName}-right")>
        @ChildContent
    </div>
</div>

@code {
    [CascadingParameter(Name = "PageContainer")]
    protected PageContainer PageContainer { get; set; }

    [CascadingParameter(Name = "BasicLayout")]
    protected BasicLayout BasicLayout { get; set; }
    private bool HasSider => BasicLayout?.HasSider ?? false;
    private bool IsMobile => BasicLayout?.IsMobile ?? false;
    #region
    private void SetHasFooterToolbar(bool hasFooterToolbar)
    {
        PageContainer?.SetHasFooterToolbar(hasFooterToolbar);
    }
    #endregion


    [Parameter] public RenderFragment Extra { get; set; }
    //[Parameter] public RenderFragment<(object,string leftWidth)> RenderContent { get; set; }

    private string BaseClassName => $"{PrefixCls}-footer-bar";
    private string Width => HasSider ? (SiderWidth > 0 ? (IsMobile ? "width:100%" : $"width:calc(100% - ${SiderWidth}px)") : "width:100%") : "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        SetHasFooterToolbar(true);
    }

    protected override void Dispose(bool disposing)
    {
        SetHasFooterToolbar(false);
    }

}
