@namespace Zero.Abp.AspNetCore.Components.Web.AntdTheme
@inherits  AntUIComponentBase

<div style="margin-bottom: 24px;">
    <h3 class="@LayoutPrefixCls-drawer-title">@Title</h3>
    @ChildContent
</div>

@code
{
    [Parameter] public string Title { get; set; }
}