@namespace Zero.Abp.AntdesignUI.Layout
@inherits AntLayoutComponentBase

<GlobalFooter Links="@Links">
    <Copyright>
        @if (!string.IsNullOrEmpty(Copyright))
        {
            <div>
                Copyright <Icon Type="copyright" /> @Copyright
            </div>
        }
    </Copyright>
</GlobalFooter>

@code
{
    [Parameter] public string Copyright { get; set; } = "1998-2021 Weidyg. All Rights Reserved.";

    [Parameter] public LinkItem[] Links { get; set; }

    protected override void OnInitialized()
    {
       
    }
}