@namespace Zero.Abp.AntdesignUI.Layout
@using Microsoft.Extensions.Options
@inherits AntDomComponentBase
@*@inject IOptions<ProSettings> SettingState*@

<AntList Split="false"
         DataSource="SettingItems"
         ItemLayout="ListItemLayout.Horizontal">
    <ListItem>
        <span style="opacity: @(context.Disabled ? "0.5" : "1")">@context.Title</span>
        @context.Action
    </ListItem>
</AntList>

@code
{
       protected LayoutSettings Settings { get; set; }
        [Inject] protected ILayoutConfigProvider LayoutConfigProvider { get; set; }
        protected override async Task OnInitializedAsync()
        {
            await base.OnInitializedAsync();
            Settings = await LayoutConfigProvider.GetSettingsAsync();
        }


    public SettingItem[] SettingItems { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SettingItems = new[] {
            new SettingItem
            {
                Title = "header",
                Action = @<Switch Size="small" @bind-Value="Settings.HeaderRender" />
            },
            new SettingItem
            {
                Title = "footer",
                Action = @<Switch Size="small" @bind-Value="Settings.FooterRender" />
            },
            new SettingItem
            {
                Title = "menu",
                Action = @<Switch Size="small" @bind-Value="Settings.MenuRender" />
            },
            new SettingItem
            {
                Title = "menuHeader",
                Action = @<Switch Size="small" @bind-Value="Settings.MenuHeaderRender" />
            },
        };
        }
}