@page "/PageDemo"
@using Zero.Abp.AntBlazor.Layout
@inherits AbpComponentBase

<PageContainer Header="@header"
               TabList="@tabList"
               TabProps="@tabProps"
               Loading="@_loading">
    <Content>
        <Descriptions Column="2" Style="margin-bottom:-16px">
            <DescriptionsItem Title="创建人">曲丽丽</DescriptionsItem>
            <DescriptionsItem Title="关联表单"> <a>421421</a></DescriptionsItem>
            <DescriptionsItem Title="创建时间">2017-01-10</DescriptionsItem>
            <DescriptionsItem Title="单据备注">浙江省杭州市西湖区工专路</DescriptionsItem>
        </Descriptions>
    </Content>

    <ExtraContent>
        <img style="width:155px" alt="这是一个标题" src="https://gw.alipayobjects.com/zos/rmsportal/RzwpdLnhmvDJToTdfDPe.png">
    </ExtraContent>

    <ChildContent>

        <Result Title="页面找不到" Status="404"></Result>

    </ChildContent>
    <Footer>
        <Button>重置</Button>
        <Button Type="primary"> 提交 </Button>
    </Footer>
</PageContainer>

@code {
    private bool _loading = true;
    protected override void OnInitialized()
    {
        _loading = false;

        Alerts.Warning(
        "We will have a service interruption between 02:00 AM and 04:00 AM at October 23, 2023!",
        "Service Interruption");


        base.OnInitialized();
    }

    private TabPaneItem[] tabList = new TabPaneItem[] {
        new TabPaneItem { Tab = "基本信息", Key = "base", Closable = false, } ,
        new TabPaneItem { Tab = "详细信息", Key = "info",  }
    };
    private TabProps tabProps = new TabProps
        {
            HideAdd = true,
            Size = TabSize.Small,
            Type = TabType.EditableCard,
            OnEdit = (key, action) => { return Task.FromResult(true); },
        };
    private PageHeaderProps header = new PageHeaderProps
        {
            Title = "页面标题",
            //Breadcrumb = new BreadcrumbProps
            //{
            //    Routes = new Route[]
            //            {
            //        new Route{Path="",BreadcrumbName="一级页面" },
            //        new Route{Path="",BreadcrumbName="二级页面" },
            //        new Route{Path="",BreadcrumbName="当前页面" }
            //        }
            //},
            Breadcrumb =
    @<Template>
        <Breadcrumb>
            <BreadcrumbItem Href="">一级页面</BreadcrumbItem>
            <BreadcrumbItem Href="">二级页面</BreadcrumbItem>
            <BreadcrumbItem>当前页面</BreadcrumbItem>
        </Breadcrumb>
    </Template>,
        Extra = @<Template>
        <Button>次要按钮</Button>
        <Button> 次要按钮 </Button>
        <Button Type="primary"> 主要按钮</Button>
        <Dropdown>
            <Overlay>
                <Menu>
                    <MenuItem Key="1">下拉菜单</MenuItem>
                    <MenuItem Key="2">下拉菜单2</MenuItem>
                    <MenuItem Key="3">下拉菜单3</MenuItem>
                </Menu>
            </Overlay>
            <ChildContent>
                <Button Style="padding:0 8px">
                    <Icon Type="more"></Icon>
                </Button>
            </ChildContent>
        </Dropdown>
    </Template>
        };
}
