@namespace Zero.Abp.AntdesignUI.Layout
@inherits AntUIComponentBase

<div style=" padding-top:100px;text-align:center">
    <Spin Size="Size" Tip="Tip" Delay="Delay" Spinning="Spinning" />
</div>
@code {
   [Parameter]    public string Size { get; set; } = "large";

    [Parameter]   public string Tip { get; set; }

    [Parameter]   public int Delay { get; set; }

   [Parameter]    public bool Spinning { get; set; }
}